@font-face{
    font-family: 'Digital-7';
    src: url('/font_digital-7/digital-7.ttf');
}

h1, h2{
    text-align: center;
}

.display-container{
    background-color: rgb(80, 79, 79);
    width: 425px;
    height: 581px;
    padding-left: 25px;
    padding-top: 25px;
    margin: auto;
    border-radius: 25px;
}

#screen{
    margin: 9px;
    width: 360px;
    height: 71px;
    border-radius: 5px;
    background-color: rgb(166, 194, 166);
    text-align: right;
    font-family: "Digital-7", arial;
    font-size: 84px;
    caret-color: transparent;
    
    padding: 10px;
}

.button-container {
    display: grid;
    grid-template-columns: 100px 100px 100px 100px;
    grid-template-rows: 50px 100px 100px 100px 100px;
    margin: auto;
    font-family: 'Roboto', sans-serif;
}

.button {
    margin: 9px;
    font-size: 60px;
    color: white;
    background-color: gray;
    border-radius: 5px;  
}

#clear, #delete, #beep, #music{
    font-size: 20px;
}

#multiply, #add, #subtract, #divide{
    background-color: rgb(82, 160, 185);
}

#equals{
    background-color: rgb(235, 72, 72);
}

.button:hover{
    background-color: rgba(128, 128, 128, 0.7);
}

#multiply:hover, #add:hover, #subtract:hover, #divide:hover{
    background-color: rgba(82, 160, 185, 0.7);
}

#equals:hover{
    background-color: rgba(235, 72, 72, 0.7);
}